@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3,h4,h5,h6{
    color: rgb(26, 2, 2) !important;
}
p{
    color: #1b17ff !important;
}
span{
    color: #0110e5 !important;
}
.tableFont{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}